<%= form_for(@headline) do |f| %>
  <% if @headline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@headline.errors.count, "error") %> prohibited this headline from being saved:</h2>

      <ul>
      <% @headline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leadtext %><br>
    <%= f.text_area :leadtext %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.url_field :url %>
  </div>
  <div class="field">
    <%= f.label :display %><br>
    <%= f.check_box :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
